<div class="container-fluid">
    <h1>Self destruct: Users</h1>
    <div class="container">
        <div class="row">
            <div class="text-center col-12">
                <a class="btn btn-info"
                   routerLink="/add">Új felhasználó hozzáadása</a>
            </div>
            <div class="text-center col-4 form-group offset-4">
                <label for="filter">Szűrés:</label>
                <input name="filter"
                       type="text"
                       class="form-control"
                       [(ngModel)]="filterPhrase">
            </div>
        </div>
    </div>
    <div>&nbsp;</div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th (click)="setSorterKey('id')">#</th>
                        <th (click)="setSorterKey('isActive')">Aktív</th>
                        <th (click)="setSorterKey('name')">Név</th>
                        <th (click)="setSorterKey('age')">Kor</th>
                        <th>E-mail</th>
                        <th>Commands</th>
                    </tr>
                </thead>
                <tbody>
                    <tr></tr>
                    <tr *ngFor="let user of userList | filter:filterPhrase:changeCounter | sorter:orderKey:orderDirection:changeCounter">
                        <td>{{user.id}}</td>
                        <td>
                            {{user.isActive}}
                        </td>
                        <td>
                            {{user.name.first}} {{user.name.last}}
                        </td>
                        <td>
                            {{user.age}}
                        </td>
                        <td>
                            {{user.email}}
                        </td>
                        <td>
                            {{user.favoritFruit}}
                        </td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-secondary"
                                        (click)="Szerkeszt(user)"
                                        routerLink="/edit/{{ user.id }}">Szerkeszt</button>
                                <button class="btn btn-danger"
                                        (click)="onDelete(user)">Törlés</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>